:root {
  --white: #ffffff;
  --grey: #ded9d3;
  --brown: #847564;
  --black: #000000;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--black);
  background: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
