.page {
  margin-top: 122px;
}

.heroImg {
  width: 100%;
  max-width: 1900px;
  height: auto;
}

.heroWrapper {
  position: relative;
  width: 100%;
}

.heroContent {
  position: absolute;
  top: 15%;
  left: 5%;
  color: white;
}

.heroContent h1 {
  font-size: clamp(28px, 4vw, 56px);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 50px;
}

.heroContent p {
  font-size: clamp(16px, 1.4vw, 22px);
  margin-bottom: 50px;
  max-width: 80%;
  line-height: 1.5;
}

.bookCta {
  display: inline-block;
  background-color: var(--brown);
  padding: 16px 28px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  font-size: clamp(16px, 1.2vw, 20px);
}

.bookCta:hover {
  background-color: #6f6458;
}

.infoSection {
  padding: 40px clamp(10px, 4vw, 40px);
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  gap: clamp(12px, 6vw, 80px);
  justify-content: center;
  text-align: center;
}

.infoItem {
  white-space: nowrap;
}

.infoItem h2 {
  font-size: clamp(14px, 3vw, 64px);
  margin-bottom: 10px;
}

.infoItem p {
  font-size: clamp(10px, 1.4vw, 20px);
  line-height: 1.6;
}

.infoDivider {
  width: 2px;
  height: clamp(40px, calc(1em + 5vw), 90px);
  background-color: #000;
  flex-shrink: 0;
}

@media (max-width: 1240px) {
  .page {
    margin-top: 94px;
  }
}

@media (max-width: 900px) {
  .page {
    margin-top: 78px;
  }

  .heroContent h1 {
    margin-bottom: 30px;
  }

  .heroContent p {
    margin-bottom: 30px;
    max-width: 60%;
  }
}

@media (max-width: 696px) {
  .heroContent p {
    max-width: 60%;
  }
}

@media (max-width: 1110px) {
  .heroContent p {
    max-width: 60%;
  }
}

@media (max-width: 600px) {
  .heroContent {
    top: 10%;
    left: 5%;
  }
  .heroContent h1 {
    margin-bottom: 10px;
    font-size: 22px;
  }

  .heroContent p {
    max-width: 60%;
    margin-bottom: 16px;
    font-size: 14px;
  }

  .bookCta {
    padding: 10px 20px;
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .infoSection {
    gap: 10px;
    padding: 20px;
  }
}
